---
layout: default
---

<div class="page">
  <div class="wrapper">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="office-details">
      <img class="office-image" src="{{ page.image  | relative_url }}" alt="{{ page.name }}">
      <p class="office-description">{{ page.description }}</p>
      <p class="office-phone">📞 {{ page.phone }}</p>
      <p class="office-facebook">
        <a href="{{ page.facebook }}" target="_blank">Pogledaj Facebook stranicu</a>
      </p>
    </div>
    <a href="/lokali" class="back-link">← Vrati se na sve lokale</a>
  </div>
</div>
